// mixins for

@mixin linkBtn(){
  background: #E5E7EB;
  color: $main-text;
  border-radius:12px;
  border:none;
  padding-left:20px;
  padding-right:20px;
  font-size: 14px;
}

// @include mixinName(red, white) // call to mixin

