.intro {
  padding: 96px 86px;

  .intro-flex {
    display: flex;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    gap: 48px;
    box-icon{
        cursor: pointer;
    }
    h1 {
      color: $main-h1-6;
      font-size: 60px;
    }
    p {
      width: 700px;
      color: $main-text;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        
        box-icon{
            cursor: default;
        }

        div {
          width: 8px;
          height: 8px;
          background: #008000;
          border-radius: 50%;
          margin-left: 7px;
          margin-right: 10px;
        }
      }
    }
  }

  img {
    width: 380px;
    height: 420px;
    box-shadow: 3px 1px 0px -5px rgba(229, 231, 235, 1);
    -webkit-box-shadow: 3px 1px 0px -5px rgba(229, 231, 235, 1);
    -moz-box-shadow: 3px 1px 0px -5px rgba(229, 231, 235, 1);
    cursor: pointer;
    filter: grayscale(1);
    transform: scale(1);
    transition: all 0.2s ease;

    &:hover {
      box-shadow: 32px 35px 0px 3px rgba(229, 231, 235, 1);
      -webkit-box-shadow: 32px 35px 0px 3px rgba(229, 231, 235, 1);
      -moz-box-shadow: 32px 35px 0px 3px rgba(229, 231, 235, 1);
      filter: grayscale(0);
      transform: scale(1.1);
    }
  }
}


@media screen and (max-width: 375px){
.intro{
  padding: 10px;
  
  .intro-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    

    .introduction{
      order: 2;

      padding: 0;

      h1{
        font-style: 36px;
        width: 303px;

      }
      p{
        width: 300px;
      }
    }


  }

  img{
    width: 280px;
    height: 300px;
  }
}

}