footer{
    width: 100%;
    background: #F9FAFB;
    padding: 24px;
    

    .end{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $main-text;
    }
}